.AlertContainer {
  /* 2.5em: header height. spacing: Alert's bottom margin. */
  --alert-spacing: theme('spacing.3');
  --top-offset: calc(2.5em + var(--alert-spacing));

  @apply absolute right-2 overflow-hidden;
  top: var(--top-offset);

  max-width: calc(100vw / 3);
  max-height: calc(100vh - var(--top-offset));

  /* mask from opaque to transparent. causes the alert container to appear to disappear near the bottom in browsers that support. */
  /* note: disabled for now, looks fine on a large block that reaches the bottom, but ends up fading single alerts as well. */
  /*mask-image: linear-gradient(#000 75%, #0000);

  &:hover {
    mask-image: linear-gradient(#000, #000);
  }*/

  .Alert {
    @apply relative w-full flex flex-col shadow rounded opacity-80 backdrop-blur-lg hover:opacity-100;

    &:not(:last-of-type) {
      margin-bottom: var(--alert-spacing);
    }

    .AlertHeader {
      /* note: border/bg colors are handled by contextual classes in React */
      @apply relative text-lg flex-shrink px-2 rounded-t border;

      .CloseButton {
        @apply absolute right-2 top-px text-red-800;
      }
    }

    .AlertBody {
      /* note: border/bg colors are handled by contextual classes in React */
      @apply relative p-2 flex-grow border border-t-0 rounded-b whitespace-pre-wrap;
    }
  }
}
