.ListGroup {
  @apply flex flex-col;

  .ListGroupItem {
    --bg-normal: theme('colors.gray.200');
    --bg-hover: theme('colors.gray.300');
    --fg-normal: theme('colors.gray.700');
    --fg-hover: theme('colors.gray.800');
    --border-normal: theme('colors.gray.300');
    --border-hover: theme('colors.gray.400');

    @apply block relative flex-grow-0 flex-shrink text-left px-3 py-3 focus:outline-none;
    border: 1px solid var(--border-normal);
    border-top-color: transparent;

    background-color: var(--bg-normal);
    color: var(--fg-normal);

    &:hover {
      background-color: var(--bg-hover);
      border-color: var(--border-hover);
      color: var(--fg-hover);
    }

    &:only-child {
      @apply rounded-md;
      border-color: var(--border-normal);

      &:hover {
        background-color: var(--bg-hover);
        border-color: var(--border-hover);
      }
    }

    &.active, &:focus, &:active {
      @apply font-semibold;
      border-color: var(--border-hover);
      color: var(--fg-hover);
      background-color: var(--bg-hover);
    }

    &:not(:only-child):first-child {
      @apply rounded-t-md;
      border-top-color: var(--border-normal);

      &:hover, &:active, &:focus, &.active {
        border-top-color: var(--border-hover);
      }
    }

    &:not(:only-child):last-child {
      @apply rounded-b-md;
      border-bottom-color: var(--border-normal);

      &:hover, &:active, &:focus, &.active {
        border-bottom-color: var(--border-hover);
      }
    }
  }
}
